<?xml version="1.0"?>
<launch>

	<arg name="model" default="no_tool"/>

	<arg name="gui" default="true" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="worlds/empty.world"/>
		<arg name="paused" value="false"/>
	</include>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find samk_description)/urdf/$(arg model).xacro'" />
	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

</launch>